@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;700&display=swap');

*{
    margin: 0 auto;
    font-family: 'Cormorant Garamond', serif;
}


#main{
    background-color: #f3f3f3;   
    display: flex;
    justify-content: center ;
     
}

#titulo{
    text-align: center;
    line-height: 80px;
    height: 80px;
    font-weight: 700;
    color: #4a4a4a;
    background-color: #f3f3f3;
    
}

#titulo::before{
    position: absolute;
    content: "";
    top: 60px;
    width: 150px;
    height: 5px;
    background-color: #ffbf00;    
}

.box{
    width: 426px;   
    background-color: #fff;
    margin: 20px;
    text-align: center;
    padding: 40px 0 40px 0;
    box-sizing: border-box;    
    border-radius: 20px;

}

.profile-img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-bottom: 40px;
}

.bio{
    margin-bottom: 20px;
    width: 80%;    
    font-weight: 400;
    color: #747474;
}

.nome{
   margin-bottom: 10px;
   font-weight: 700;
   color: #2c2c2c;
}

.cargo{
   margin-bottom: 20px;
   font-weight: 100;
   color: #797979;
}

/* TABLET */
@media only screen and (max-width:768px) and (min-width:321px){

    #main{
        width: 100%;
        flex-direction: column;
    }

    .box{width: 90%;
    margin: 20px auto;}

}

/* MOBILE */
@media only screen and (max-width:320px){

    #main{
        width: 100%;
        flex-direction: column;
    }

    .box{width: 90%;
    margin: 20px auto;
}

}